<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let navItem of navItems; let index = index;" 
            class="nav-item"
            [ngClass]="{'dropdown': navItem.children.length != 0}"
            menu-toggle>
          <a *ngIf="navItem.children.length == 0" class="nav-link" [routerLink]="navItem.route">{{navItem.title}}</a>
          <a *ngIf="navItem.children.length != 0" class="nav-link dropdown-toggle"
             id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{navItem.title}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let child of navItem.children" class="dropdown-item" [routerLink]="child.route">
              {{child.title}}
            </a>
          </div>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-success mr-2" routerLink='/signin'>Login</a>
        <a class="btn btn-secondary" routerLink='/register'>Register</a>
      </form>
    </div>
  </nav>